input[type='text'] {
  padding: 0 0.75rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  font-size: 16px;
  margin: 0em 1em;
  height: 100%;
  width: 200px;
}

.filter-input {
  height: 38px;
}

input:focus {
  outline: none;
}
